<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>lc-user-tools</symbolicName>
    <version>3.10</version>
    <name>LC CCI User Tools</name>

    <description>A set of tools providing functionality to convert, aggregate and subset
        LC map and condition products.
    </description>

    <changelog>
        <![CDATA[
    Changes in 3.10:
    - aggreagte-map tool can now be used with additional user map and conversion table in order to improve PFTs
    - improved validation of user provided look-up tables
    - if Java is not installed a "1.6)" file has been created containing "java not installed" message
    - fixed evaluation of JAVA_LOCATION in batch scripts
    Changes in 3.8:
    - variable metadata of WB NetCDF corrected, fill value NaN replaced by -1 for count bands
    - checks added to ensure that cross walking tables contain the correct sequence and number of LCCS classes.
    Changes in 3.7:
    - removed the rules for the map products
    - updated readme.txt to explain the file format of cross walking table better
    - fixed scaling in remap tool
    - added NetCDF conversion of WB products
    Changes in 3.6:
    - fixed fractional area calculation when observation or bin crossed the anti-meridian
    - fixed java.lang.IllegalArgumentException: Unknown metadata aggregator name: null
    Changes in 3.5:
    - added remapping tool for remapping LC classes to PFT classes
    - LCCS legend in NetCDF files updated to contain additional classes, e.g. 152, 153, ...
    - default cross walking table (LUT) updated to cover the additional classes
    Changes in 3.4:
    - set super sampling value correctly
    Changes in 3.3:
    - added aggregation rules for ndvi, ba and snow
    - updated flags with filled_ice for ndvi
    - include pixel state clear_snow_ice in valid expression (rule) for map aggregation
    - Renamed accuracy to confidence
    - Supporting comment line in user PFT table
    - Allow subsetting when aggregating map and condition products
    Changes in 3.2:
    - added parameter for cache size to shell scripts
    - added parameter 'targetDir' to conversion tool
    - LUT for PFTs requires now LCCS class as first column
    - support for subsetting condition products
    - consolidated metadata
    - added more logging information
    - improved speed of writing to NetCDF
    - introduced property for slice height
    - reduced even more memory consumption
    - support for aggregating ba and snow condition
    - adapted names of aggregated condition variables
    Changes in 3.1:
    - fixed to high memory consumption when doing aggregation
    <!--]]>
    </changelog>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max Planck Str. 2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2014 by Brockmann Consult GmbH</copyright>

    <url>http://www.esa-landcover-cci.org/</url>


    <dependency>
        <module>beam-visat-rcp</module>
        <optional>true</optional>
    </dependency>
    <dependency>
        <module>beam-gpf</module>
    </dependency>
    <dependency>
        <module>beam-binning</module>
    </dependency>
    <dependency>
        <module>beam-netcdf</module>
    </dependency>

    <categories>VISAT,Processing,Landcover,CCI</categories>

    <!--<extension point="beam-ui:actions">-->
    <!--<action>-->
    <!--<parent>tool</parent>-->
    <!--<id>lc_cci_aggregation</id>-->
    <!--<class>org.esa.cci.lc.aggregation.ui.LCAggregationAction</class>-->
    <!--<helpId>lc_cci_aggregation</helpId>-->
    <!--<text>LC CCI Aggregation Tool...</text>-->
    <!--<description>Re-project, aggregate and subset LC map and conditions products.</description>-->
    <!--<mnemonic>A</mnemonic>-->
    <!--</action>-->
    <!--</extension>-->

    <!--<extension point="beam-ui:helpSets">-->
    <!--<helpSet>-->
    <!--<parent>beam-help</parent>-->
    <!--<path>doc/help/aggregation.hs</path>-->
    <!--</helpSet>-->
    <!--</extension>-->

</module>