<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>lc-user-tools</symbolicName>
    <version>0.5</version>
    <name>LC CCI User Tools</name>

    <description>A set of tools providing functionality to convert, aggregate and subset
        LC map and condition products.
    </description>

    <!--<changelog>-->
    <!--<![CDATA[-->
    <!--]]>-->
    <!--</changelog>-->

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max Planck Str.2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2010 by Brockmann Consult GmbH</copyright>

    <url>http://www.esa-landcover-cci.org/</url>
    <!--<licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>-->


    <dependency>
        <module>beam-visat-rcp</module>
        <optional>true</optional>
    </dependency>
    <dependency>
        <module>beam-gpf</module>
    </dependency>
    <dependency>
        <module>beam-binning2</module>
    </dependency>
    <dependency>
        <module>beam-netcdf</module>
    </dependency>

    <categories>VISAT,Processing,Landcover,CCI</categories>

    <extension point="beam-ui:actions">
        <action>
            <parent>tool</parent>
            <id>lc_cci_aggregation</id>
            <class>org.esa.cci.lc.aggregation.ui.LCAggregationAction</class>
            <helpId>lc_cci_aggregation</helpId>
            <text>LC CCI Aggregation Tool...</text>
            <description>Re-project, aggregate and subset LC map and conditions products.</description>
            <mnemonic>A</mnemonic>
        </action>
    </extension>

    <extension point="beam-ui:helpSets">
        <helpSet>
            <parent>beam-help</parent>
            <path>doc/help/aggregation.hs</path>
        </helpSet>
    </extension>

</module>