<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>lc-land-water-tool</symbolicName>
    <name>LC-CCI Land/Water Tool</name>
    <version>1.1</version>

    <!-- TODO - As needed, adapt metadata elements here -->
    <description>LC-CCI Land/Water Tool</description>
    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max Planck Str.2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2014 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>
    <changelog>
        <![CDATA[ ]]>
    </changelog>

    <categories>Processor,VISAT</categories>

    <dependency>
        <module>beam-core</module>
    </dependency>
    <dependency>
        <module>beam-gpf</module>
    </dependency>
    <dependency>
        <module>beam-visat-rcp</module>
        <optional>true</optional>
    </dependency>

    <extension point="beam-ui:actions">

        <action>
            <class>org.esa.beam.visat.actions.DefaultOperatorAction</class>

            <!-- TODO - Adapt the following action elements -->
            <parent>tools</parent>
            <id>lc_cci_lw_tool-MultiTileOp</id>
            <helpId>lc_cci_lw_tool</helpId>
            <operatorName>WbCoOP</operatorName>
            <text>WaterBodyComparison</text>
            <dialogTitle>WaterBody_Comparison</dialogTitle>
            <nameSuffix>_wb_comp</nameSuffix>
        </action>

    </extension>

</module>