<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>lc-geotool</symbolicName>
    <name>LC-CCI Geotool</name>
    <version>1.0</version>

    <!-- TODO - As needed, adapt metadata elements here -->
    <description>LC-CCI Geotool</description>
    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max Planck Str.2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2014 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>
    <changelog>
        <![CDATA[ ]]>
    </changelog>

    <categories>Processor,VISAT</categories>

    <dependency>
        <module>beam-core</module>
    </dependency>
    <dependency>
        <module>beam-gpf</module>
    </dependency>
    <dependency>
        <module>beam-visat</module>
        <optional>true</optional>
    </dependency>

    <extension point="beam-ui:actions">

        <action>
            <class>org.esa.beam.visat.actions.DefaultOperatorAction</class>

            <!-- TODO - Adapt the following action elements -->
            <parent>tools</parent>
            <id>lc_cci_geotool-MultiTileOp</id>
            <helpId>lc_cci_geotool</helpId>
            <operatorName>GeoToolOP</operatorName>
            <text>GeoTool</text>
            <dialogTitle>GeoToolOp</dialogTitle>
            <nameSuffix>GeoToolOp</nameSuffix>
        </action>

    </extension>

</module>